https://developers01.zland.org {
    proxy / http://app:8000 {
        transparent
        websocket
    }
    errors stdout
    header / {
        Strict-Transport-Security "max-age=31536000"
    }
    log / stdout "{combined} cache={cache_status}"
    gzip
    tls fb@fabiobonelli.it
}
